<div class='nested-fields'>
  <%= f.input :position %>
  <%= f.input :name %>
  <%= f.input :mastery %>
  <%= f.input :info %>
  <%= link_to_remove_association "Remove Skill", f, class: 'ui button' %>
</div>

<div class="ui divider"></div>