<div class="ui top inverted icon fixed menu">
  <div class="ui container">
    <%= link_to root_path, class: "header item" do %>
      <%= site_title %>
    <% end %>
    <% if user_signed_in? %>
      <%= link_to "Preview", main_path, class: "item" %>
      <div class="right menu">
        <div class="ui dropdown item">
          <%= current_user.name %>
          <div class="menu">
            <%= link_to "Account", edit_user_registration_path, class: "item" %>
            <%= link_to "Logout", destroy_user_session_path, method: :delete, class: "item" %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>